@font-face {
    font-family: "Rocketfont";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Rocketfont"),
        /* Если не получилось, загрузит woff2 */
        /* Если браузер не поддерживает woff2, загрузит woff */
        url("../../../../../public/assets/fonts/rocketfont.ttf") format("truetype");
}

.all {
    overflow: hidden;
    max-height: 600px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 3px;
}

.left {
    font-family: 'Rocketfont', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;

    span {
        font-family: Manrope;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.08px;
        color: rgba(223, 229, 242, 0.5);
    }
}

.prev {
    border-radius: 8px;
    background-color: rgb(17, 13, 33);
}

.shadow {
    padding: 3px;
    display: flex;
    align-items: center;
    height: 100%;

    button {
        height: 100%;
        border-radius: 7px;
        background-color: rgb(35, 29, 71);
        padding: 0 8px;
        transition-duration: .32s;
        display: flex;
        align-items: center;
        gap: 4px;

        font-family: Manrope;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: -0.08px;
        color: white;

        &:hover {
            background-color: #3b3270;
        }
    }

    &:hover button {
        box-shadow: 0 0 20px 0 #3b32704f;
    }
}

.bets {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
    max-height: 85%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        background-color: white;
        width: 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}

.bet {
    width: 100%;
    padding-right: 4px;
    background: linear-gradient(90deg, rgb(28, 22, 56) 0%, rgb(38, 31, 77) 100%);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 16px;
    border-radius: 11px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 28px 51px 64px 1fr minmax(56px, max-content) max-content;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid transparent;
    transition: border 0.32s ease 0s;
    min-height: 32px;
    padding-left: 2px;
    align-items: center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.active_bet {
    background: rgba(148, 78, 245, 0.25);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 16px;
    border: 1px solid rgba(148, 78, 245, 0.5);
    padding-left: 1px;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 28px;
    max-height: 28px;
    width: 100%;
    height: 100%;
    background-color: tomato;
    border-radius: 8px;

    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.name {
    margin: 0px 0px 0px 8px;
    color: rgb(148, 138, 197);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 44px;
}

.sum {
    margin: 0px 0px 0px 12px;
    color: rgb(223, 229, 242);
    max-width: 50px;
    text-wrap: nowrap;

    font-size: 12px;
}
.blue__hist{
    background: #3E5BC2;
}
.purple__hist{
   background-color: #753EC2;
}

.golden__hist {
    background-color: #de8b03;
}

.finaly_bet {
    color: white;
    text-align: center;
    margin-right: 0px;
    margin-left: 2px;
    transition-duration: .2s;
}

.finaly_sum {
    color: white;
    text-align: right;
    margin-right: 8px;
    margin-left: 0px;
    transition-duration: .2s;
    max-width: 50px;
    text-wrap: nowrap;
}

.finaly_sum_vis {
    font-weight: 600;
    text-align: right;
    color: rgb(253, 187, 78);
    overflow: hidden;
}

.finaly_bet_vis {
    max-width: 58px;
    width: 100%;
    height: 26px;
    margin: 0 auto;
    display: grid;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 9px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: -0.0023em;
    color: rgb(250, 250, 250);
    border-radius: 7px;
}

@media (max-width: 978px) {
    .bet {
        height: 40px;
    }

    .bet,
    .active_bet {
        padding-left: 3px;
    }

    .bets {
        gap: 5px;
    }

    .name {
        margin-left: 6px;
    }

    .img {
        min-width: 32px;
        max-height: 32px;
    }
}

@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: Reservation;
    // адрес шрифта и тип 
    src: url("../../../../../public/assets/Reservation\ Wide\ Black/Reservation Wide Black.ttf");
    font-style: normal;
    font-weight: normal;
}

.length {
    font-family: Reservation;
    font-size: 15px;
}